absl-py==2.1.0
attrs==24.2.0
cffi==1.17.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
deepdiff==7.0.1
dipy==1.9.0
flatbuffers==24.3.25
fonttools==4.53.1
h5py==3.11.0
jax==0.4.31
jaxlib==0.4.31
kiwisolver==1.4.5
matplotlib==3.9.1.post1
mediapipe==0.10.14
ml-dtypes==0.4.0
nibabel==5.2.1
numpy==2.0.1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt-einsum==3.3.0
ordered-set==4.1.0
packaging==24.1
pillow==10.4.0
playsound==1.2.2
protobuf==4.25.4
pycparser==2.22
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scipy==1.14.0
setuptools==72.1.0
setuptools-scm==8.1.0
six==1.16.0
sounddevice==0.4.7
TIME-python==0.0.17
tqdm==4.66.5
trx-python==0.3
wheel==0.44.0
